#   CONFIGURASI DATABASE
DB_NAME = 'isi nama dari database'
DB_USERNAME = 'isi username dari database'
DB_PASSWORD = 'isi password dari database'
DB_HOST = 'isi nama host database biasanya localhost || 127.0.0.1'
DB_PORT = 'isi port yang digunakan database'

# PORT SERVER LOKAL APLIKASI 
PORT= "bisanya standar 3000 || sesuaikan kebituhan"

#   jwt_secret || berfungsi untuk authentikasi
ACCESS_TOKEN_SECRET = masukkan apa saja semaakin unik dan banyak lebih baik
REFRESH_TOKEN_SECRET = masukkan apa saja semaakin unik dan banyak lebih baik